run:
# only a few samples are stored on github for testing
  outputdir: './output/'
  code_location: './'
  only_predict: False # for prediction based on events stored in hdf5 files with existing model
  predict_with_other_model : False # use data as defined below but use this model instead for prediction
  gpu: False
data:
  input_dataset_name: '1stat'
  input_datatype: 'single_station_waveforms'
  inputdir: './data/'  # place to save one year of data downloaded from https://doi.org/10.17605/OSF.IO/27FPK
  train_years: [2022]
  valid_years: [2022]
  test_years: [2022]
  sampling_rate : 40. # common waveform sampling rate of training data
  allowed_phases : ['PN', 'PG', 'P', 'SN', 'SG', 'S', 'PB', 'SB'] #  phase types to be used as labels
  holdout : False # file with list of event IDs to be hold out during training and used during testing.
# for contineous prediction we need info about data used for training. Data in hdf5 are already pre-filtered-
  lower_frequency : 2.0
  upper_frequency : 8.0
training:
  reduce_lr_patience: 9
  early_stopping_patience: 15
#  epochs: 200
  epochs: 1 # for the dummy data set on GitHub
#  batch_size: 32
  batch_size: 10 # for the dummy data set on GitHub
  weight_decay: 0.1
  learning_rate: 0.001
  class_weights: [0.05,0.40,0.55] # noise, P, S
  optimizer: 'adam'
  l1_norm: 0.0
  l2_norm: 0.0
  dropout: 0.4
normalization:
  mode: 'std'
  channel_mode: 'global'
augment:
  ramp: 11
  add_noise: 0.3
  add_event: 0.3
  drop_channel: 0.2
  add_gap:  0.2
  max_gap_size: 0.1
  new_size: 300
  taper: 0.01
model:
  type: 'transphasenet'
  residual_attention: [0,0,0,8,16,32,64]
  filters: [64,64,128,128,256,256,512]
  kernel_sizes: [7,7,7,7,7,7,7]
  pooling_type: 'max'
  activation: 'swish'
  att_type: 'across'
  rnn_type: 'lstm'
  additive_att: False
evaluation:
  optimal_threshold: False # produces recall-precision to find optimal propability threshold for detection
  dt: 2.0 # time tolerance for matching true and predicted labels
  dt_cont: 4.0 # time tolerance for matching true and predicted labels for contineous data
  p_threshold: 0.55 # fixed propability threshold for P wave detection
  s_threshold: 0.45 # fixed propability threshold for S waves
  save_fig: True # save evaluation figures
  overall_performance: True # compute metrics for overall performance using thresholds above
  vs_metadata: False # Generate plots with call and precision for : 'distance' 'station' or 'catalog'
  snr_threshold: False # [2,99999] # False or values [minsnr,maxsnr]
  unpicked : True # generate a plot to identify unlabeledd arrivals
  common_events_with_model: False # only use common event in test data sets with this given model
#  common_events_with_model: 'zbeam_transphasenet'
  snr_mode: 'max' # use max SNR of all arrivals from an event and keep all if above threshold
#  snr_mode: 'min' # use min SNR of all arrivals from an event and keep all if above threshold
  picks : './data/manual_picks_arces.data' # file with ground-true picks for contineous data
  theoretical_arrivals : True # for calculating precision, use theoretical Pn,Pg,Sn and Sg arrivals as true labels
prediction: # settings read when processing contineous data or when post-processing test data predictions
  predict: True # process contineous waveforms. If False read previous output.
  stations: ['ARA0'] # if array name, all array stations are used
  arrays: {'ARCES':['AR*'],'SPITS':['SP*'],'FINES':['FI*'],'NORES':['NR*']} # dictionary of arrays with station list belonging to it
                               # two characters + wildcard is allowed to uniquely collect array stations. Needed only for ensemble detection.
  start_time: '2023-01-01T00:00:00'
  end_time: '2023-01-05T00:00:00'
  window_length: 3600 # seconds per prediction run and output file with predictions to be saved
  step: 10 # sliding window step in seconds
  stacking: 'median' # 'mean', 'median', 'std', or 'pc25' for combining overlapping time windows
  output_dir: './output/contineous/'
  save_prob: True # save continuous output probabilities
  save_waveforms: False # save continuous waveforms
  save_picks: False # save detections above threshold
# Note: This option is also used for test data in case of ensemble detection
  combine_array_stations: False # False or string: 'stack', 'beam', or 'vote'
  combine_beams: False # for beam detection, find maximum probabilities from all predictiosn beams
  detect_only: False # directly combine and save picks without individual station time series outputs
  num_processes: 8 # parallel processes for detect_only mode
  p_beam_vel: 6.45 # km/s for P-wave beamforming
  s_beam_vel: 3.7 # km/s for S-wave beamforming
  vote_threshold_p: 0.35 # threshold for voting combination (P)
  vote_threshold_s: 0.25 # threshold for voting combination (S)
  skip_stations : ['ARC2'] # bad stations from arrays can be added here
